<h1>Contact Us</h1>


<% teachers = ['tatchi', 'gui', 're', 'mariana', 'carlos'] %>

<ul>
  <% teachers.each do |teacher| %>
  <li><%= teacher.capitalize %></li>
  <% end %>
</ul>
<%# <ul>
<li>tatchi</li>
<li>gui</li>
<li>re</li>
<li>mariana</li>
<li>carlos</li>
</ul> %>
